html, body {
    background: #CBCBCB;
    color: #000;
    margin: 0;
    padding: 0;
}

.center
{
  width: 800px;
     height:600px;
     margin: 0px auto;
}

canvas 
{
  background: #FFF;
  border:2px solid;
  border-radius:25px;

}

.buttons 
{
  display: block;
  padding: 10px 15px;
 margin: 0px auto;
}

button[type=button]
{
  /*display: block;*/
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
 
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888, #555);
  background: linear-gradient(#888, #555);
  border: 0 none;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

button[type=button]:active
{
  color: #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}
*/